.wd-margin-top{
    margin-top: 20px;
}
.wd-margin-top-10{
    margin-top: 10px;
}
.wd-margin-left{
    margin-left:20px;
}
.breadcrumb a{
    text-decoration: none;
}
.wd-margin-top-0{
    margin-top: 0;
}
.wd-margin-right{
    margin-right: 20px;
}
.wd-button a{
    color: black;
    background-color: lightgray;
}
.wd-inline{
    display: inline;
}
.wd-inline a{
    display: inline;
}
.wd-button-1{
    color: black;
    background-color: lightgray;
}
.wd-button-2{
    color:white;
    background-color:green;
}
.wd-underline-no a{
    text-decoration: none;
    color: black;
}
.wd-border-1{
    border-width: 1px 0px 0px 0px;    
}
.wd-border-0{
    border-width: 0 0 0 0;

}
.wd-font-size-sm{
    font-size: small;
}
.wd-text-center{
    text-align: center;
}
.wd-text-right{
    text-align: right;
}
.wd-kanbas-nav-side-bar{
    list-style: none;
    padding: 0px;
    width: 300px;
    margin: 0px;
    border-radius: 0%;
}
.wd-kanbas-nav-side-bar li{
    padding: 10px;
    font-size: 0.8em;
    /* text-align: center; */
    margin-bottom: 5px;
    margin-left: 40px;
}

.wd-kanbas-nav-side-bar li a{
    color: red;
    text-decoration: none;
    /* margin-left: 5px; */
    font-size: 1.5em;

}
.wd-kanbas-nav-side-bar li i{
    color: red;
    font-size: 1.3em;
    margin-bottom: 5px;
    text-align: right   ;
    padding-right: 25;
}